[submodule "learner-space-courses/2024-wncc-machine-learning-ls"]
	path = learner-space-courses/2024-wncc-machine-learning-ls
	url = https://github.com/wncc/Machine-Learning-LS-24.git
[submodule "learner-space-courses/2024-wncc-web-development-ls"]
	path = learner-space-courses/2024-wncc-web-development-ls
	url = https://github.com/wncc/Web-Development-LS-24.git
